@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

:root {
  --base-clr: #324B50;
  --line-clr: #42434a;
  --hover-clr: rgba(149, 176, 182, 0.3);
  --text-clr: #e6e6ef;
  --accent-clr: #81cad9;
  --secondary-text-clr: #b0b3c1;
  --Tertiary-Color: #95b0b6; /* Light Greyish/Blue */
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}
body {
  min-height: 100vh;
  min-height: 100vh;
}

.developer-menu {
  padding: 2em;
  gap: 1rem;
}
.developer-menu nav h4 {
  margin-bottom: 1rem;
}
.developer-menu nav{
  display: flex;
  flex-direction: column;
  padding: 2em;
}